# Node
NODE_ENV=development
PORT=3000

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=nutrition_user
DB_PASSWORD=nutrition_password
DB_NAME=nutrition_db

# JWT
JWT_ACCESS_SECRET=supersecretaccesskeychangeinproduction
JWT_ACCESS_EXPIRES_IN=15m

# Redis (opcional por ahora)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# External API (opcional por ahora)
EXTERNAL_FOOD_API_URL=https://api.external-food-service.com/v1
EXTERNAL_FOOD_API_KEY=your_api_key_here